body{
    background-color:#99ccff;
}

.main_panel{
    text-align: center;
    font-size: 24px;
    border:0px solid black;
    border-radius: 24px;
    padding:30px;
    background-color: white;

    position:absolute;
    width:960px;
    height:480px;
    top:50%;
    left: 50%;
    margin-left:-480px;
    margin-top: -280px;
}

.center{
    position:absolute;
    width:960px;
    height:300px;
    top:50%;
    left: 50%;
    margin-left:-480px;
    margin-top: -150px;
}

button{
    border-radius: 10px;
    border: 0px solid black;
    padding:12px 24px;
    font-size:24px;
    color: white;
    background-color: black;
    margin: 10px;
    opacity: 0.6;
    transition-duration: 0.3s;
}

button:hover{
    opacity: 1;
    cursor: pointer;
}

.question_panel{
    text-align: left;
    padding:20px;
}

.timer{
    float: left;
    margin-top: 10px;
    margin-bottom:10px;
}

.info::after{
    clear: both;
    content: "";
    display: block;
}

.qCounter{
    float: right;
    margin-top: 10px;
    margin-bottom:10px;
}

.question{
    margin-bottom:20px;
}

.option{
    margin-bottom:10px;
}

input{
    margin-right: 20px;
}

#btn-check, #btn-next, #btn-restart{
    position: absolute;
    bottom:5%;
    right:5%;
    background-color: #00cc00;
}